@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";
.dt-header-dropdown-menu__platform {
  min-height: 352px;
  background-color: #1B202A;
  color: white;
  padding-bottom: 20px;

  .dropdown-menu__content {
    width: 75%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 64px;
    @include media-breakpoint-down(sm) {
      width:94%;
      flex-wrap:wrap;
      .dropdown-menu__contact
      {margin-right: 5%;
        max-width:100%;margin-left:0;
        width:44%;}
     }
    .dropdown-menu-item__title {
      max-width: 336px;
      margin-right: 32px;
      .title__h {
        font-size: 2.7em;
        font-family: 'TitilliumWeb-Bold', sans-serif;
        line-height: 40px;
      }

      .title__desc {
        margin-top: 16px;
        font-size: 1.3em;
        line-height: 24px;
      }

      .title__link {
        font-family: 'TitilliumWeb-Bold', sans-serif;
        font-size: 1.3em;
        line-height: 24px;
        margin-top: 24px;

        a {
          margin-bottom: 8px;
        }
      }
    }

    .platform__dropdown-menu-item__section {
      width: 74%;
      max-width: 1070px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      @include media-breakpoint-down(md) {
        width:94%;
        flex-wrap:wrap;
        flex-direction: column;
        .subitem__container {
          width: 100%;
          
          .subitem__container-2
          {margin-top:0}
      }
      }
    }

  }
}