.dt-vertical_line-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 35px;

  .virtical_line {
    border-radius: 5px;
    height: 100%;
    background-color: white;
    margin-top: 25px;
    width: 4px;
    margin-bottom: 25px;
    @media only screen and (max-width: 767px)
    {
     display: none;
     
    }
  }
}