@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";

.testimonial-content__wrapper {
  width: 85%;
  max-width: 1440px;
  margin: 0 auto;
  @include media-breakpoint-down(sm) {
    width: 100%;
  }
  .testimonial-content__title {
    font-family: "TitilliumWeb-Bold", sans-serif;
    font-size: 3.3em;
    text-align: center;
    line-height: 48px;
    color: #04567d;
    margin-bottom: 30px;
  }
 
  .container-fluid { 
    @include media-breakpoint-down(sm) {
      margin-left: 0px;
    }
    .textimonial-row.row {
      margin-top: 5px !important;

      .textimonial__wrapper {
        background: #f8f9fa;
        margin-left: 30px;
        margin-top: 30px;
        @include media-breakpoint-down(md) {
          margin-left:0px;
        }
        @include media-breakpoint-down(sm) {
          margin-left: 0px;
          margin-top: 0px;
          padding:0
        }
        .testimonial-content {
          padding: 25px;
        }
        i.fa.fa-quote-left.fa-3x.fa-pull-left {
          color: #46e29a;
          font-size: 35px;
        }
        p.testimonial-head {
          font-size: 18px;
          margin-left: 50px;
          font-weight: 900;
          color: black;
          margin-top: 20px;
          font-family: "TitilliumWeb-Bold", sans-serif;
        }
      }
    }
  }
}
p#hundred-of-routes {
  font-size: 20px;
  margin-left: 50px;
}

.past_webinar {
  text-align: center;
  margin-top: 120px;
  font-size: -webkit-xxx-large;
  font-family: Titillium Web;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
}
.webinar_btn{
font-family: Titillium Web;
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 18px;
text-align: center;
flex: none;
order: 0;
align-self: center;
margin: 10px 0px;
margin-block-start: 48px;
}
.stay_turned{
font-family: Titillium Web;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 48px;
text-align: center;
/* Gray 1 */

color: #333333;

}
#notified{
    font-family: Titillium Web;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 32px;
text-align: center;
color: #1B202A;
// float: left;
// width:100%;
// display: flex;
}
// a.newsuccBtn {
//   float: left;
// }
// .note {
//   float: left;
//   display: flex;
//   width: 100%;
// }
.email_address{
 text-align: center; 
margin-top: 60px;
background: #FFFFFF; 
}
.keep_btn{
    font-family: Titillium Web;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 24px;
text-align: center;
background-color: #2ED573;
color: #FFFFFF;

}
.resources-wrapper .dt_resources-container {
  background-color: #fff;
  padding-top: 1px;.container
  {max-width: 1260px;}
}
.webinar_btn
{
  margin: 50px 0;
  button
  {
    font-family: Titillium Web;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 18px;
    padding: 20px;
    text-align: center;
    color: #2C3E50;
    margin:0px;
    background: none;
    border: none;
    background: #FFFFFF;
    &.active,&:focus,&:active
    {
      box-shadow: inset 0px -4px 0px #2ED573;outline:none}
  }
}
.btn-success{color:#ffffff!important;
}
.subtitle{font-family: Titillium Web;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;color: #BDBDBD;margin-top:10px}
.slidingImageDiv {
  position: relative;
  width: 100%;
  overflow: hidden;
  .containerDiv {
    width: 200%;
    display: flex;
    animation-name: slideLeftToRight;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    img {
      width: 100%;
      opacity: 0.7;
    }
  }
}

@keyframes slideLeftToRight {
  from { transform: translateX(0%); }
  to { transform: translateX(-52.4%); }
}

.past_event{
  text-align: center;
  margin-top: 120px;
  font-family: Titillium Web;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
}
.email_address .input-group-append {
  margin-left: 12px;
}
.email_address.input-group>.form-control{border-radius:0px!important;}
.email_address .input-group-append .btn{border-radius: 5px!important;background-color:#2ED573;border-color:#2ED573;
  font-family: Titillium Web;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px; text-align: center;  
  color: #FFFFFF;
}
.email_address .input-group-append .btn:hover {background-color:#2ED573;border-color:#2ED573}
.event_pastdate{
 font-family: Titillium Web;
font-style: normal;
font-weight: bold;
font-size: 32px;
line-height: 25px;
color: #2F3542;
flex: none;
order: 2;
align-self: center;
margin-top: 10px;
  
}
img.eventimg{
  //  height: 400px;
  //  width: 694px;
  height: 300px;
    width: 358px;
    margin-top: 12px;

}
.upcoming_div{
position: relative;
width: 694px;
height: 400px;
left: 1px;
top: 0px;
}
// .newDivi {
//   height: 300px;
//   width: 696px;
//   position: relative;
// }
.upcomingevent_tag{
left: 0%;
right: 0%;
top: 67.07%;
bottom: 26.95%;

font-family: Titillium Web;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 50px;

color: #2F3542;
flex: none;
order: 2;
// align-self: center;
margin: 0px 5px;

// display: flex;
// float: left;
// width:100%;

}
.btn_know{
  font-family: Titillium Web;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
text-align: center;

color: #FFFFFF;
position: absolute;
left: 0px;
right: 0px;
top: 0px;
bottom: 0px;

background: #2ED573;
border-radius: 4px;
}
.webinar_desc{
  font-family: Titillium Web;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 28px;
color: #1B202A;
margin-top: 10px; 
}
.featured-card__component
{text-align: left;}
.featured-card__component .card-desc {
  font-family: Titillium Web;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 28px;
color: #333333;
text-align: left;
  margin-top: 10px; 
}
.featured-card__component .card-title {
  font-family: Titillium Web;
font-style: normal;
font-weight: bold;
font-size: 32px;
text-align: left;
line-height: 40px;
color: #2F3542; 
  margin-top: 10px;
  margin-bottom: 0;
  @include media-breakpoint-down(lg) {
    font-size: 24px;
line-height: 36px;
  } 
}
.featured-card__component .btn-success,.featured-card__component .btn-success:hover{
  background-color:#2ED573;;padding:7px 15px;margin:33px 0 25px;border-color:#2ED573;
  font-family: Titillium Web;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;  
  text-align: center;  
  color: #FFFFFF;
}
.UpcomingEvent
{
  .date,.address
  {
    font-family: Titillium Web;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 28px;
color: #333333;
margin:0 0 5px!important;
  }
.btn-success, .btn-success:hover {
 
    padding: 7px 10px;
  }
}
.note{
  font-family: Titillium Web;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 28px;


color: #333333;
flex: none;
order: 3;
align-self: center;
margin-left: -80px;

}
.upcoming_event_title{
  float: left;
    margin-left: 162px;
.newsuccBtn{
  margin-left: -110px;
}
 
}
.address{
  margin-left: -92px!important;
}
.event_tags_calc{
  position: static;
height: 24px;
left: 18.1%;
right: 57.47%;
top: calc(50% - 24px/2);

font-family: Titillium Web;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
display: flex;
align-items: center;
text-align: center;

color: #2ED573;
flex: none;
.tags_calc{
  margin: 5px 10px 0 0;
  font-family: Titillium Web;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
display: flex;
align-items: center;
text-align: center;

color: #2ED573;
}
}